@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

.teamHeader {
  font-weight: bold;
  font-size: 2.5rem;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.teamMemberCard {
  width: 18rem;
  border-radius: 20px;
  margin-bottom: 40px;
}

.teamMemberImage {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}