@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

.topText {
  font-weight: bold;
  font-size: 2.5rem;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.teamMemberCard {
  width: 18rem;
  border-radius: 20px;
  margin-bottom: 40px;
}

.teamMemberName {
  font-size: 1.8rem;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

.teamMemberTitle {
  font-size: 1.2rem;
  font-weight: 300;
}

.teamMemberImage {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}