@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

.topText {
    font-weight: bold;
    font-size: 2.5rem;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-top: 5rem;
}

.topTextSpan {
  background-color: black;
  padding: 1rem;
  border-radius: 8px;
  color: white;
}

.teamMemberCard {
    width: 18rem;
    border-radius: 20px;
    margin-bottom: 40px;
    text-align: center;
}

.teamMemberBackground {
    border-top-left-radius: 19px;
    border-top-right-radius: 19px;
}

.teamMemberImageWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute; 
  top: 30px;
}

.teamMemberImage {
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid white !important;
}

.teamMemberName {
  font-size: 1.8rem;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  margin-top: 3.5rem;
}

.teamMemberTitle {
  font-size: 1.2rem;
  font-weight: 300;
  text-align: center;
}

.teamMemberDescription {
    text-align: center;
}

.meetTheFounder {
  background-color: #e5e5e5;
  padding: 3rem;
  font-family: 'Roboto', sans-serif;
  border-radius: 20px;
  flex-wrap: wrap;
}

.meetTheFounder h2 {
  font-size: 2.5rem;
}

.meetTheFounder h3 {
  color: #808080;
  margin-bottom: 2rem;
}

.meetTheFounder div p {
  font-family: sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
}

.founderImage {
  border-radius: 10px;
}

@media (max-width: 768px) {
  .collegeVolunteers {
    font-size: 2rem;
  }
}
