@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

.container {
    padding: 0 2rem;
}

.main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin-top: 8rem;
    align-items: center;
}

.title {
    line-height: 1.15;
    font-size: 4.5rem;
    font-family: 'Roboto', sans-serif;
    color: #363636;
}

.getStartedBtn {
    background-color: #ff6b6b;
    color: white;
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    font-weight: 800;
    border: none;
    cursor: pointer;
}

.sectionContainer {
    display: flex;
    flex-wrap: wrap;
}

.sectionContainer div {
    flex: 1 1 320px;
}

.description {
    color: #4d4d4d;
    line-height: 1.5;
    font-weight: 300;
}

.sectionContainer2 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.infoCard {
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 28px 28px 56px #d9d9d9, -28px -28px 56px #ffffff;
    border: 0;
    transition: 0.3s;
}

.infoCard:hover {
    background: #bde5fc;
    cursor: pointer;
    transform: scale(1.05);
}

.smallIcon {
    margin-left: 16px;
    margin-top: 16px;
    width: 60px;
    height: 60px;
    background-color: #bde5fc;
    padding: 10px;
    border-radius: 20%;
}
