@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

.topText {
    font-weight: bold;
    font-size: 2.5rem;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.positionCard {
    display: table;
    text-align: center;
    width: 18rem;
    height: 22rem;
    border-radius: 20px;
    margin-bottom: 40px;
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 28px 28px 56px #d9d9d9, -28px -28px 56px #ffffff;
    border: 0;
}

.positionCardBody {
    display: table-cell;
    vertical-align: middle;
}

.positionImage {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
